@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-black text-center">
    <h1 class="text-light display-4">Welcome To Deep Cycles</h1>
    <p class="text-light">This Website Has Been Custom Made By Dylan Pye (07484686688)</p>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <img src="~/images/cropped_circular_logo.jpeg" alt="Deep Cycles Logo" class="my-4" style="max-width: 260px; height: auto; border-radius: 50%;">
</div>

<div class="container mb-3 py-5" style="position: absolute; top: 120px; left: 35px; z-index: 1;">
    <h5 class="text-light">Opening Hours</h5>
    <p class="text-light">Monday     10-6</p>
    <p class="text-light">Tuesday    10-6</p>
    <p class="text-light">Wednesday  10-6</p>
    <p class="text-light">Thursday   10-6</p>
    <p class="text-light">Friday     10-6</p>
    <p class="text-light">Saturday   10-6</p>
    <p class="text-light">Sunday     Closed</p>
</div>
