@{
}


<div class="bg-secondary bg-opacity-25 py-2 fw-bold">
    <div class="container">
        <h1>Welcome Gabriel :)</h1>
    </div>
</div>

<div class="container py-5">

    <form method="post">

        <div class="mb-3">
            <div class="d-flex">
                <button type="submit" class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AllBookings">View Bookings</button>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex">
                <button type="submit" class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AddABike">Add A Bike</button>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex">
                <button type="submit" class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AllBikes">View Bikes</button>
            </div>
        </div>

        <div class="mb-3">
            <div class="d-flex">
                <button type="submit" class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="HomePage">Exit</button>
            </div>
        </div>

    </form>

</div>
